<div class="whiteBox" style="width: 217mm; border: none;">
  <div class="whiteBox" style="width: 217mm; border: none;">
    <div class="whiteBox" style="width: 100mm; border: none; text-align: left; font-weight: bold; text-decoration: underline;">Gross Description</div>
  </div>
  <div class="whiteBox" style="width: 217mm; border: none;">
    <div class="whiteBox" style="width: 100mm; border: none; text-align: left; line-height: 1;">{{gross_description}}</div>
  </div>
</div>
