<!--header section of page-->
<div class="whiteBox" style="width: 105mm; border: none; height: 30mm; text-align: left;">
  <img src="data:image/png;base64,{{logoImage}}" height="115mm" width="775mm">
</div>
<div class="whiteBox" style="width: 108.5mm; border: none; height: 30mm; text-align: left;">
  <div class="row">
    <div class="brownBox" style="width: 100mm; border: none; font-size: 5mm; font-weight: bold; line-height: 2; text-align: right; padding-left: 1mm;">Surgical Pathology Report</div>
  </div>
  <div class="row">
    <div class="brownBox" style="width: 100mm; border: none; font-size: 4mm; line-height: 3; text-align: right;">{{amendment_title}}</div>
  </div>
  <div class="row">
    <div class="whiteBox" style= "width: 100mm; border: none; font-size: 4mm; line-height: 2; text-align: right;"></div>
  </div>
  <div class="row">
    <div class="whiteBox" style="width: 70mm; border: none; font-size: 4mm; line-height: 2; text-align: right;">YPI Report #:</div>
    <div class="whiteBox" style="width: 25mm; border: none; font-size: 4mm; line-height: 2; text-align: right;">{{panelSetOrder.reportNo}}</div>
  </div>
  <div class="row">
    <div class="whiteBox" style="width: 70mm; border: none; font-size: 4mm; line-height: 2; text-align: right;">Client Report #:</div>
    <div class="whiteBox" style="width: 25mm; border: none; font-size: 4mm; line-height: 2; text-align: right;">{{client_rpt_no}}</div>
  </div>
</div>
