<!doctype html>
<html>
  <head>
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Open AP LIS Report
      {{/if}}
    </title>
    <style>
      {{> style }}
    </style>
  <body>
    <div class="page">
      {{#> content-block}}
        {{!-- report content goes here. --}}
      {{/content-block}}
    </div>
  </body>
</html>
