<div class="whiteBox" style="color: black; width: 216mm; border: none;">
  <div class="row">
    <div class="whiteBox" style="color: black; width: 100mm; border: none; text-align: left; font-weight: bold; text-decoration: underline;">Specimen Description</div>
    <div class="whiteBox" style="color: black; width: 100mm; border: none; text-align: left; font-weight: bold; text-decoration: underline;">Collection Date/Time</div>
  </div>
</div>
<div class="whiteBox" style="color: black; width: 217mm; border: none;">
  <div class="row">
    <div class="whiteBox" style="color: black; width: 100mm; border: none; text-align: left; line-height: 1;">{{specimen_description}}</div>
    <div class="whiteBox" style="color: black; width: 100mm; border: none; text-align: left; line-height: 1;">{{collection_date/time}}</div>
  </div>
</div>
