<div class="whiteBox" style="color: black; width: 217mm; border: none;">
  <div class="row">
    <div class="whiteBox" style="color: black; width: 100mm; border: none; text-align: left; font-weight: bold; text-decoration: underline;">Probe Set Details</div>
  </div>
</div>
<div class="whiteBox" style="color: black; width: 217mm; border: none;">
  <div class="row">
    <div class="whiteBox" style="color: black; width: 100mm; border: none; text-align: left; line-height: 1;">{{probe_set_details}}</div>
  </div>
</div>
