<div class="whiteBox" style="width: 217mm; border: none;">
  <div class="whiteBox" style="width: 100mm; border: none; text-align: left; font-weight: bold; text-decoration: underline;">Clinical Information</div>
</div>
<div class="whiteBox" style="width: 217mm; border: none;">
  <div class="whiteBox" style="width: 217mm; border: none; text-align: left; line-height: 1;">{{accessionOrder.clinicalHistory}}</div>
</div>
