{{#if content}}
  <div class="whiteBox" style="width: 217mm; border: none;">
    <div class="whiteBox" style="width: 100mm; border: none; text-align: left; font-weight: bold; text-decoration: underline;">Intraoperative consultation header</div>
  </div>
  <div class="whiteBox" style="width: 217mm; border: none;">
    <div class="whiteBox" style="width: 100mm; border: none; text-align: left; line-height: 1;">{{intraoperative_consultation_specimen}}</div>
  </div>
  <div class="whiteBox" style="width: 217mm; border: none;">
    <div class="whiteBox" style="width: 100mm; border: none; text-align: left; line-height: 1; padding-left: 5mm;">{{intraoperative_consultation_text}}</div>
  </div>
{{/if}}
