<div class="whiteBox" style="color: black; width: 216mm; border: none;">
  <div class="whiteBox" style="color: black; width: 100mm; border: none; text-align: left; font-weight: bold; text-decoration: underline;">Specimen Description</div>
  <div class="whiteBox" style="color: black; width: 100mm; border: none; text-align: left; font-weight: bold; text-decoration: underline;">Collection Date/Time</div>
</div>
<div class="whiteBox" style="color: black; width: 217mm; border: none;">
  {{#each accessionOrder.specimenOrders}}
  <div class="whiteBox" style="color: black; width: 5mm; border: none; text-align: left; line-height: 1;">{{specimenOrder.specimenNumber}}.)</div>
    <div class="whiteBox" style="color: black; width: 104mm; border: none; text-align: left; line-height: 1;">{{specimenOrder.description}}</div>
    <div class="whiteBox" style="color: black; width: 104mm; border: none; text-align: left; line-height: 1;">{{specimenOrder.collectionDate}}{{specimenOrder.collectionTime}}</div>
  {{/each}}
</div>
