<!--middle main body portion of the report-->
<div class="whiteBox" style="width: 217mm; border: none;">
  <div class="whiteBox" style="width: 100mm; border: none; text-align: left; font-weight: bold; text-decoration: underline;">Cancer Case Study</div>
</div>
<div class="whiteBox" style="width: 217mm; border: none;">
  <div class="whiteBox" style="width: 100mm; border: none; text-align: left; line-height: 1;">{{cancer_summary}}</div>
</div>
<div class="whiteBox" style="width: 217mm; border: none;">
  <div class="whiteBox" style="width: 100mm; border: none; text-align: left; font-weight: bold; text-decoration: underline;">Microscopic Description</div>
</div>
<div class="whiteBox" style="width: 217mm; border: none;">
  {{#each accessionOrder.panelSetOrders}}
    <div class="whiteBox" style="width: 217mm; border: none; text-align: left; line-height: 1;">{{panelSetOrder.microscopicX}}</div>
  {{/each}}

</div>
