<!--bottom portion of report-->
<div class="whiteBox" style="width: 217mm; height: 3mm; border: none;">
  <div class="row">
    <div class="brownBox" style="width: 100mm; border: none; text-align: left; font-size: 3mm; line-height: .75;">Yellowstone Pathology Institute, Inc.</div>
  </div>
</div>
<div class="whiteBox" style="width: 217mm; height: 3mm; border: none;">
  <div class="row">
    <div class="brownBox" style="width: 65mm; height: 3mm; font-weight: bold; border: none; text-align: left; font-size: 3mm; line-height: .75; border-bottom: solid .5mm;">Billings</div>
    <div class="brownBox" style="width: 85mm; height: 3mm; font-weight: bold; border: none; text-align: left; font-size: 3mm; line-height: .75; border-bottom: solid .5mm;">Cody</div>
    <div class="brownBox" style="width: 65mm; height: 3mm; border: none; text-align: left; font-size: 3mm; line-height: .75; text-align: right; border-bottom: solid .5mm;">YellowstonePathology.com</div>
  </div>
</div>
<div class="whiteBox" style="width: 217mm; height: 3mm; border: none;">
  <div class="row">
    <div class="whiteBox" style="width: 65mm; height: 3mm; border: none; text-align: left; font-size: 3mm;">2900 12th Avenue North, Suite 295W</div>
    <div class="whiteBox" style="width: 85mm; height: 3mm; border: none; text-align: left; font-size: 3mm;">707 Sheridan Avenue</div>
    <div class="brownBox" style="width: 65mm; height: 3mm; border: none; text-align: left; font-size: 3mm; text-align: right;">Michael S. Brown, MD FCAP</div>
  </div>
</div>
<div class="whiteBox" style="width: 217mm; height: 3mm; border: none;">
  <div class="row">
    <div class="whiteBox" style="width: 65mm; height: 3mm; border: none; text-align: left; font-size: 3mm;">Billing, MT 59101</div>
    <div class="whiteBox" style="width: 85mm; height: 3mm; border: none; text-align: left; font-size: 3mm;">Cody, WY 82414</div>
    <div class="brownBox" style="width: 65mm; height: 3mm; border: none; text-align: left; font-size: 3mm; text-align: right;">Pamela P. Clegg, MD FCAP</div>
  </div>
</div>
<div class="whiteBox" style="width: 217mm; height: 3mm; border: none;">
  <div class="row">
    <div class="whiteBox" style="width: 65mm; height: 3mm; border: none; text-align: left; font-size: 3mm;"></div>
    <div class="whiteBox" style="width: 85mm; height: 3mm; border: none; text-align: left; font-size: 3mm;"></div>
    <div class="brownBox" style="width: 65mm; height: 3mm; border: none; text-align: left; font-size: 3mm; text-align: right;">Angela F. Durden, MD FCAP</div>
  </div>
</div>
<div class="whiteBox" style="color: black; width: 217mm; height: 3mm; border: none;">
  <div class="row">
    <div class="whiteBox" style="width: 32.5mm; height: 3mm; border: none; text-align: left; font-size: 3mm;">phone <span style="font-weight: bold;">406.238.6360</span></div>
    <div class="whiteBox" style="width: 32.5mm; height: 3mm; border: none; text-align: left; font-size: 3mm;">fax <span style="font-weight: bold;">406.238.6361</span></div>
    <div class="whiteBox" style="width: 32.5mm; height: 3mm; border: none; text-align: left; font-size: 3mm;">phone <span style="font-weight: bold;">406.578.1850</span></div>
    <div class="whiteBox" style="width: 32.5mm; height: 3mm; border: none; text-align: left; font-size: 3mm;">fax <span style="font-weight: bold;">406.238.6361</span></div>
    <div class="brownBox" style="width: 85mm; height: 3mm; border: none; text-align: left; font-size: 3mm; text-align: right;">Kerrie R. Emerick, MD FCAP</div>
  </div>
</div>
<div class="whiteBox" style="width: 217mm; height: 3mm; border: none;">
  <div class="row">
    <div class="whiteBox" style="width: 65mm; height: 3mm; border: none; text-align: left; font-size: 3mm;">toll-free <span style="font-weight: bold;">1.888.400.6640</span></div>
    <div class="whiteBox" style="width: 85mm; height: 3mm; border: none; text-align: left; font-size: 3mm;">toll-free <span style="font-weight: bold;">1.88.400.6640</span></div>
    <div class="brownBox" style="width: 65mm; height: 3mm; border: none; text-align: left; font-size: 3mm; text-align: right;">Christopher J. Nero, MD FCAP</div>
  </div>
</div>
<div class="whiteBox" style= "width: 217mm; height: 3mm; border: none;">
  <div class="row">
    <div class="whiteBox" style="width: 65mm; height: 3mm; border: none; text-align: left; font-size: 3mm;"></div>
    <div class="whiteBox" style="width: 85mm; height: 3mm; border: none; text-align: left; font-size: 3mm;"></div>
    <div class="brownBox" style="width: 65mm; height: 3mm; border: none; text-align: left; font-size: 3mm; text-align: right;">Duane A. Schultz, MD FCAP</div>
  </div>
</div>
